
body{
  margin:0;
  overflow: hidden;
  height:100%;
}

*{
  /*USE GPU*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

#debugInfos{
  display: none;
}

#debugger{
  display:none;
  position: absolute;
  background: white;
  top:0;
  right:0;
  width:250px;
  height:150px;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #62DBDB;
}

#mainScene{
  width:4096px;
  height:1300px;
  padding:0;
  margin:0;
  overflow: hidden;
  //background-image: url("../img/tableau 12 - croco-01.png");
  //opacity:0.4;
  position: relative;
  -webkit-transform: scale(0.5) translateX(-50%) translateY(-50%);
  -moz-transform: scale(0.5) translateX(-50%) translateY(-50%);
  -ms-transform: scale(0.5) translateX(-50%) translateY(-50%);
  -o-transform: scale(0.5) translateX(-50%) translateY(-50%);
  transform: scale(0.5) translateX(-50%) translateY(-50%);
}

/**
    WATER images
 */
#eau_haut{
  position: absolute;
  top:0;
}

#eau_bas{
  position: absolute;
  bottom:0;
}

/**
    FOREST IMAGE
 */
#foret{
  top:0;
  left:0;
  position: absolute;
}

.statues{
  position: absolute;
}

/**
    STATUES
 */

#statue1{
  left:466px;
  top:-220px;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

#statue2{
  left: 2020px;
  bottom:0;
  -webkit-transform: rotate(17deg);
  -moz-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  -o-transform: rotate(17deg);
  transform: rotate(17deg);
}

#statue3{
  right: 60px;
  bottom:-120px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/**
    NENUPHARES
 */
.nenuphars{
  position: absolute;
}

#nenu1{
  bottom: 300px;
  left:35px;
}

#nenu2{
  top:130px;
  left:2165px;
}

#nenu3{
  right:820px;
  bottom:410px;
}

/**
    ROCKS
 */
.rocks{
  position: absolute;
}

#rock1{
  bottom:230px;
  left:1070px;
}

#rock2{
  right:650px;
  top:130px;
}

/**
    PLANTS
 */
.plants{
  position: absolute;
}

#plant1{
  left:406px;
  top:269px;
}

#plant2{
  left:926px;
  top:268px;
}

#plant3{
  bottom:172px;
  left:1685px;
}

#plant4{
  bottom:279px;
  left:2256px;
}

#plant5{
  bottom:295px;
  right: -50px;
}

/**
    CROCODILE
 */

svg{
  visibility: hidden;
  .st20{
    opacity:0.32;
    fill:none;
    stroke:#FFFFFF;
    stroke-width:4;
    stroke-miterlimit:10;
  }
}

#croco{
  position: absolute;
  top:0;
  left:0;
}